body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

form {
    -webkit-appearance: none;
    appearance: none;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='date'] {
    -webkit-appearance: none; /* Remove default iOS styling */
    -moz-appearance: none; /* Remove default Firefox styling, if needed */
    appearance: none; /* Remove default styling for other browsers */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-family: Arial, sans-serif; /* Match the font to other inputs */
}

/* To style the date picker's dropdown icon on iOS */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Donation Section Styling */
#donationSection {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#donationSection h2 {
    color: #007bff;
    margin-bottom: 15px;
}

#donationSection p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}

#donationSection strong {
    font-weight: bold;
    color: #000;
}
